<div class="container-fluid">
  <nb-card>
    <nb-card-header>
      <h4 class="text-center">Estadísticas por intérvalo de fecha</h4>
    </nb-card-header>
    <nb-card-body>
      <form #dateForm="ngForm">
        <div class="form-group">
          <label for="fecha_inicio">Fecha incial (*)</label>
          <input
            id="fecha_inicio"
            type="date"
            name="fecha_inicio"
            class="form-control"
            [(ngModel)]="fecha_inicio"
            required />
        </div>
        <div class="form-group">
          <label for="fecha_fin">Fecha final (*)</label>
          <input
            id="fecha_fin"
            type="date"
            name="fecha_fin"
            class="form-control"
            [(ngModel)]="fecha_fin"
            [min]="fecha_inicio"
            required />
        </div>
      </form>
      <!-- <h6 [hidden]="!showStats" class="text-warning">
        ¡Para realizar una nueva consulta recarga la página!
      </h6> -->
      <button
        (click)="getCases()"
        class="btn btn-primary float-right"
        [disabled]="!fecha_inicio || !fecha_fin">
        Ejecutar
      </button>
    </nb-card-body>
  </nb-card>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por origen</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-12 mx-auto px-1">
          <app-estadistica-item
            nombre="Total casos"
            [total]="psicologoStatistics.total"></app-estadistica-item>
        </div>
        <div
          *ngFor="let origen of psicologoStatistics.casos_by_origen"
          class="col-6 col-sm-4 col-lg mx-auto px-1">
          <app-estadistica-item
            [nombre]="origen.nombre"
            [total]="origen.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por psicólogo</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-4 mx-auto px-1"
          *ngFor="let psicologo of psicologoStatistics.casos_psicologo">
          <app-estadistica-item
            [nombre]="psicologo.nombre"
            [total]="psicologo.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por municipio</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-3 mx-auto px-1"
          *ngFor="let municipio of psicologoStatistics.casos_municipios">
          <app-estadistica-item
            [nombre]="municipio.nombre"
            [total]="municipio.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por edades</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-3 mx-auto px-1"
          *ngFor="let edad of psicologoStatistics.casos_edades">
          <app-estadistica-item
            [nombre]="edad.nombre"
            [total]="edad.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por sexo</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-3 mx-auto px-1"
          *ngFor="let sexo of psicologoStatistics.casos_sexo">
          <app-estadistica-item
            [nombre]="sexo.nombre"
            [total]="sexo.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por género</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-3 mx-auto px-1"
          *ngFor="let genero of psicologoStatistics.casos_genero">
          <app-estadistica-item
            [nombre]="genero.nombre"
            [total]="genero.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por tipo de sector</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 mx-auto px-1"
          *ngFor="let zona of psicologoStatistics.casos_zona">
          <app-estadistica-item
            [nombre]="zona.nombre"
            [total]="zona.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por motivo de consulta</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-4 mx-auto px-1"
          *ngFor="let motivo of psicologoStatistics.casos_motivo_consulta">
          <app-estadistica-item
            [nombre]="motivo.nombre"
            [total]="motivo.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper" *ngIf="showStats">
    <div class="table-title">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3>Casos por linea de intervención</h3>
        </div>
      </div>
      <div class="row mx-3">
        <div
          class="col-6 col-sm-4 col-lg-4 mx-auto px-1"
          *ngFor="let intervencion of psicologoStatistics.casos_linea_intervencion">
          <app-estadistica-item
            [nombre]="intervencion.nombre"
            [total]="intervencion.total"></app-estadistica-item>
        </div>
      </div>
    </div>
  </div>
  <a
    [href]="linkDownloadExcel"
    target="_blank"
    class="btn btn-success download-report float-right white"
    [hidden]="!showStats">Descargar reporte</a>
</div>
