<nb-layout>
  <nb-layout-column>
      <div class="col-5 mx-auto">
          <nb-card status="primary">
              <nb-card-header>
                  <h6 class="text-center text-white">Recuperación de contraseña</h6>
              </nb-card-header>
              <nb-card-body class="text-center">
                  <img src="https://www.valledelcauca.gov.co/info/gobvalle/media/bloque28.png" alt="" class="my-4">
                  <form (submit)="resetPassword()">
                      <div class="form-group">
                          <label for="email" class="float-left font-weight-bold">Correo</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
                      </div>
                      <div class="form-group">
                          <label for="password" class="float-left font-weight-bold">Contraseña</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
                      </div>
                      <div class="form-group">
                        <label for="password_confirmation" class="float-left font-weight-bold">Confirmar contraseña</label>
                        <input type="password" class="form-control" name="password_confirmation" [(ngModel)]="password_confirmation" required>
                    </div>
                      <input nbInput type="submit" status="primary" value="Restablecer contraseña" class="btn btn-block mx-auto">
                  </form>
              </nb-card-body>
          </nb-card>
      </div>
  </nb-layout-column>
</nb-layout>
