<form [formGroup]="formGroupCase">
  <div class="row">
    <div class="col-4 mb-3">
      <label for="fechaInicial" class="form-label">Fecha Inicial</label>
      <input formControlName="fecha_inicio" type="datetime-local" class="form-control" id="fechaInicial" [max]="maxDate" />
    </div>
    <div class="col-4 mb-3">
      <label for="fechaFinal" class="form-label">Fecha Final</label>
      <input formControlName="fecha_fin" type="datetime-local" class="form-control" id="fechaFinal" [min]="minDateFinal" [max]="maxDate" />
    </div>
    <div class="col-4 mb-3">
      <label for="turno" class="form-label">Turno</label>
      <select
        [compareWith]="compare"
        formControlName="turno"
        class="form-control"
        id="turno">
        <option [ngValue]="null" disabled>Seleccione Turno</option>
        <option [ngValue]="turno" *ngFor="let turno of turnos">
          {{ turno.name }}
        </option>
      </select>
    </div>
    <div class="col-4 mb-3">
      <label for="quienSeComunica" class="form-label">
        ¿Quién se comunica?
      </label>
      <select
        [compareWith]="compare"
        formControlName="quien_comunica"
        class="form-control"
        id="quienSeComunica"
        [(ngModel)]="quienComunica">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="quienComunica"
          *ngFor="let quienComunica of quienes_comunican">
          {{ quienComunica.name }}
        </option>
      </select>
    </div>

    <ng-container *ngIf="se_comunica_otra_persona">
      <div class="col-4 mb-3">
        <label for="nombre_llama" class="form-label">
          Nombre de quien llama
        </label>
        <input
          formControlName="nombre_llama"
          id="nombre_llama"
          type="text"
          class="form-control" />
      </div>
      <div class="col-4 mb-3">
        <label for="documento_llama" class="form-label">
          Documento de quien llama
        </label>
        <input
          formControlName="documento_llama"
          id="documento_llama"
          type="text"
          class="form-control" />
      </div>
      <div class="col-4 mb-3">
        <label for="descripcion_relacion" class="form-label">
          Relación con el usuario
        </label>
        <input
          formControlName="descripcion_relacion"
          id="descripcion_relacion"
          type="text"
          class="form-control" />
      </div>
    </ng-container>


    <div class="col-4 mb-3">
      <label for="origen" class="form-label">
        Origen
      </label>
      <select
        [compareWith]="compare"
        formControlName="origen"
        class="form-control"
        id="origen">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="origen"
          *ngFor="let origen of origenes">
          {{ origen.name }}
        </option>
      </select>
    </div>
    <div class="col-4 mb-3">
      <label for="fuente" class="form-label">Numero o Correo del Usuario</label>
      <input
        type="text"
        class="form-control"
        id="fuente"
        formControlName="fuente">
    </div>

    <!-- <div class="col-4 mb-3">
      <label for="tipo_paciente" class="form-label">
        Tipo Usuario
      </label>
      <select
        [compareWith]="compare"
        formControlName="tipo_paciente"
        class="form-control"
        id="tipo_paciente">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="tipo_paciente"
          *ngFor="let tipo_paciente of tipo_pacientes">
          {{ tipo_paciente.name }}
        </option>
      </select>
    </div> -->
    <div class="col-4 mb-3">
      <label for="motivo_consulta" class="form-label">
        Motivo de consulta
      </label>
      <select
        [compareWith]="compare"
        formControlName="motivo_consulta"
        class="form-control"
        id="motivo_consulta"
        [(ngModel)]="motivoConsulta"
        (change)="clearMotivoEspecifico()">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="motivo_consulta"
          *ngFor="let motivo_consulta of motivo_consultas">
          {{ motivo_consulta.name }}
        </option>
      </select>
    </div>
    <div class="col-4 mb-3" *ngIf="has_motivos_especificos">
      <label for="motivo_consulta_especifico" class="form-label">
        Motivo de consulta especifico
      </label>
      <select
        [compareWith]="compare"
        formControlName="motivo_consulta_especifico"
        class="form-control"
        id="motivo_consulta_especifico">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="motivo_consulta_especifico"
          *ngFor="let motivo_consulta_especifico of motivo_consulta_especificos">
          {{ motivo_consulta_especifico.name }}
        </option>
      </select>
    </div>
    <div class="col-4 mb-3" *ngIf="!has_motivos_especificos">
      <label for="descripcion_motivo" class="form-label">
        ¿Cual Motivo?
      </label>
      <input
        type="text"
        class="form-control"
        id="descripcion_motivo"
        formControlName="descripcion_motivo">
    </div>
    <div class="col-4 mb-3">
      <label for="linea_intervencion" class="form-label">
        Linea Intervención
      </label>
      <select
        [compareWith]="compare"
        formControlName="linea_intervencion"
        class="form-control"
        id="linea_intervencion"
        [(ngModel)]="lineaIntervencion">
        <option [ngValue]="null" disabled>Seleccione</option>
        <option [ngValue]="linea_intervencion"
          *ngFor="let linea_intervencion of linea_intervenciones">
          {{ linea_intervencion.name }}
        </option>
      </select>
    </div>

    <ng-container *ngIf="is_remision">
      <div class="col-4 mb-3">
        <label for="remision" class="form-label">
          ¿Cuál entidad?
        </label>
        <select
          [compareWith]="compare"
          formControlName="remision"
          class="form-control"
          id="remision">
          <option [ngValue]="null" disabled>Seleccione</option>
          <option [ngValue]="remision"
            *ngFor="let remision of remisiones">
            {{ remision.name }}
          </option>
        </select>
      </div>

      <div class="col-4 mb-3">
        <label for="respuesta" class="form-label">
          Respuesta efectiva
        </label>
        <select
          [compareWith]="compare"
          formControlName="respuesta"
          class="form-control"
          id="respuesta">
          <option [ngValue]="null" disabled>Seleccione</option>
          <option [ngValue]="respuesta"
            *ngFor="let respuesta of respuestas">
            {{ respuesta.name }}
          </option>
        </select>
      </div>

      <div class="col-4 mb-3">
        <label for="descripcion_radicado" class="form-label">
          Número de radicado
        </label>
        <input
          type="text"
          class="form-control"
          id="descripcion_radicado"
          formControlName="descripcion_radicado">
      </div>
    </ng-container>


    <div class="col-12 mb-3">
      <label for="narrativa" class="form-label">
        Narrativa
      </label>
      <textarea
        class="form-control"
        formControlName="narrativa"
        id="narrativa"
        cols="30"
        rows="8"></textarea>
    </div>
  </div>
</form>

<h6 class="text-center">Datos del usuario</h6>
<app-frm-paciente
  [setPaciente]="setPaciente"
  [dataPaciente]="dataPaciente"
  (setFormGroupPaciente)="onSetFormGroupPaciente($event)"></app-frm-paciente>

<form [formGroup]="formGroupCase">
  <div class="row">
    <div class="col-12 mb-3">
      <label for="observaciones" class="form-label">
        Observaciones de cierre
      </label>
      <textarea
        class="form-control"
        formControlName="observaciones"
        id="observaciones"
        cols="30"
        rows="8"></textarea>
    </div>
  </div>
</form>
