<div class="container-fluid">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center py-4 border-bottom">Mis Casos</h3>
        </div>
      </div>
      <div class="row p-3 justify-content-center align-items-center">
        <div class="col-md-3">
          <div class="row justify-content-center">
            <span class="dot dot-enviado"></span>
            <p class="m-0 pl-2 font-weight-bold">Oficio enviado</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row justify-content-center">
            <span class="dot dot-recibido"></span>
            <p class="m-0 pl-2 font-weight-bold">Oficio recibido</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row justify-content-center">
            <span class="dot dot-respuesta"></span>
            <p class="m-0 pl-2 font-weight-bold">Respuesta de entidad</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row justify-content-center">
            <span class="dot dot-cerrado"></span>
            <p class="m-0 pl-2 font-weight-bold">Caso cerrado</p>
          </div>
        </div>
      </div>
    </div>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="showCase.next($event.data)">
      </ng2-smart-table>
      <div class="row">
        <div class="col-12">
          <app-pagination-server (changePage)="updatePagination($event)" [pagination]="casos"></app-pagination-server>
        </div>
        <div class="col-12">
          <h6 class="text-center">
            <b>Mostrando {{ casos.per_page }} de {{ casos.total }} casos</b>
          </h6>
        </div>
      </div>
    </nb-card-body>
  </div>
</div>
<app-ver-caso [showCase]="showCase"></app-ver-caso>
